.user-prof {
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    width: 300px;
    height: 90vh;
    border-right: 1px solid #cacaca;

    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        border-bottom: 1px solid #cacaca;
        width: 280px;
    }

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 20px;
        width: 280px;
    }

    // a.active {
    //     color: dodgerblue;
    // }

    &__item {
        width: 280px;
        border-radius: 5px;
        transition: 0.5s ease;
        cursor: pointer;
    }

    &__item+&__item {
        margin-top: 15px;
    }

    &__item:hover {
        background-color: #cacaca;
    }

    &__item:hover &__link {
        color: dodgerblue;
    }

    &__link {
        display: flex;
        padding: 8px 0px 8px 5px;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000;
    }

    ion-icon {
        margin-right: 10px;
    }
}