.user-prof {
    border-right: 1px solid #cacaca;

    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        border-bottom: 1px solid #cacaca;
        width: 280px;
        & img{
            width: 80px;
            height: 80px;
            color: #a2cdff71;
        }
    }

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 20px;
        width: 280px;
    }

    &__item {
        width: 100%;
        transition: 0.3s;
        cursor: pointer;
        .active{
            color:white;
            background-color: #5cadff;
        }
    }

    &__item+&__item {
        margin-top: 15px;
    }

    &__item:hover {
        background-color: #5cadff;
    }

    &__item:hover &__link {
        color: #fff;
    }

    &__link {
        display: flex;
        padding: 8px 0px 8px 5px;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000;
        transition: all .3s;
    }


    &__ext {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    ion-icon {
        margin-right: 10px;
    }
}