.notification{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    &.active{
        animation: notification 0.75s linear;
    }
}
@keyframes notification {
    0%{
        transform: rotate(0deg);
    } 10%{
        transform: rotate(10deg);
    } 20%{
        transform: rotate(0deg);
    } 30%{
        transform: rotate(-10deg);
    } 40%{
        transform: rotate(0deg);
    } 50%{
        transform: rotate(10deg);
    } 60%{
        transform: rotate(0deg);
    } 70%{
        transform: rotate(-10deg);
    } 80%{
        transform: rotate(0deg);
    } 90%{
        transform: rotate(10deg);
    } 100%{
        transform: rotate(0deg);
    }
}