.reltorcob {
    position: relative;
    // width: 1300px;
    // margin: 0 auto;
    .reltorcob__btn-all {
        position: relative;
        // left: 0%;
        top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #357aff;
    }

    .reltorcob__btn-all::after {
        position: absolute;
        top: 1px;
        right: -25px;
        content: "";
        width: 23px;
        height: 23px;
        background-image: url("../../Assets/Img/arrow-right.svg");
        background-repeat: no-repeat;
        transition: 0.5s ease;
    }

    .reltorcob__btn-all:hover::after {
        right: -30px;
    }

    .reltorcob__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 80px;
    }

    .reltorcob__wrapper {
        display: flex;
        align-items: center;
    }

    .reltorcob__avatar {
        width: 150px;
        height: 150px;
        border-radius: 400px;
        margin-bottom: 20px;
    }

    .reltorcob__title-name {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
    }

    .reltorcob__reyting-box {
        display: flex;
        align-items: center;
    }

    .reltorcob__reytin {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // width: 100%;
        margin-left: 40px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .reltorcob__reyting-title {
        padding-top: 7px;
        margin: 0;
        margin-right: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
    }

    .reltorcob__work-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 20px 10px 20px;
        margin-bottom: 25px;
        width: 270px;
        height: 50px;
        background: #eaf5ff;
        border-radius: 5px;
    }

    .reltorcob__work-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
    }

    .reltorcob__work-taj {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .reltorcob__work-taj::before {
        position: absolute;
        top: -15px;
        content: "Ish tajribasi";
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #757c8f;
    }

    .reltorcob__work-afeme {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .reltorcob__work-afeme::before {
        position: absolute;
        top: -15px;
        content: "Afemeda";
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #757c8f;
    }

    .reltorcob__wrap {
        margin-left: 100px;
        max-width: 500px;
    }

    .reltorcob__idesc-box {
        margin-bottom: 25px;
    }

    .reltorcob__idesc-title {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .reltorcob__idescrip {
        margin: 0;
        max-width: 400px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #aaaaaa;
    }

    .reltorcob__location-title {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .reltorcob__location-region {
        position: relative;
        margin-bottom: 25px;
        padding-left: 23px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #aaaaaa;
    }

    .reltorcob__location-region::before {
        position: absolute;
        top: -2px;
        left: 0px;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../../Assets/Img/Icon/locationrel.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .reltorcob__contact-title {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .reltorcob__cantact-tel {
        display: inline-block;
        position: relative;
        margin-right: 30px;
        padding-left: 27px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    .reltorcob__cantact-tel::before {
        position: absolute;
        top: -3px;
        left: 0px;
        content: "";
        width: 22px;
        height: 22px;
        background-image: url("../../Assets/Img/Icon/callicon.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .reltorcob__cantact-email {
        display: inline-block;
        position: relative;
        padding-left: 27px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    .reltorcob__cantact-email::before {
        position: absolute;
        left: 0px;
        content: "";
        width: 22px;
        height: 22px;
        background-image: url("../../Assets/Img/Icon/smsicon.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .reltorcob__reyting-btn {
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    .title{
        font-weight: 500;
        color:#357aff;
    }
    .comments {
        width: 1000px;
        padding-left: 20px;
        .comment_box {
            display: flex;
            flex-direction: column;
            .first {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 30px;
                .reting {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 150px;
                }
                .author {
                    min-width: 150px;
                    font-size: 20px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.75);
                }
            }
            .commit {
                width: 85%;
                color:rgb(100, 100, 100);
            }
        }
    }
}
