.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul {
    margin: 0 auto;
    margin: 2em auto;
    padding-left: 0;
    list-style-type: none;
}

.page-number {
    display: inline;
}

.page-number a {
    text-decoration: none;
    color: black;
}

.pagination-3 .page-number {
    margin: 0.25em;
}

.pagination-3 .page-number a {
    padding: 0.125em;
}

.pagination-3 .active {
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #1890FF;
    color: white;
}

.pagination-3 .active a {
    color: white;
}