$white: #fff;
$black: #000;
$blue: #6197ff;
$skyBlue: #81acff;
$darkBlue: #0468ff;
$darkgray: #808080;
$lightgray: #c4c4c4;
$lightBlue: #e5f0ff;
$cardBlue: #357aff;
$crimson: #ff0000;
$shadow: #e8e8e8;
$DarkGreen: #05850b;
$LightGreen: #0fd819;