.afemePhone{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-bottom: 40px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title{
        width: 400px;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        margin: 0;
        span{
            color: #347AFF;
        }
    }
    &__text{
        width: 400px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #808080;
    }
    &__bubbles{
        position: absolute;
        background: linear-gradient(319.24deg, #2972FE 4.63%, #6499FF 86.67%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bubbles1{
        width: 120px;
        height: 125px;
        top: -30px;
        right: 170px;
    }
    .bubbles2{
        width: 100px;
        height: 100px;
        bottom: -30px;
        left: -30px;
    }
    .bubbles3{
        width: 30px;
        height: 30px;
        bottom: 30px;
        right: 230px;
    }
    .bubbles4{
        width: 60px;
        height: 60px;
        top: 0px;
        left: 200px;
    }
}