.afemePhone {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    .container {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        padding: 20px 0;
        display: flex;

        justify-content: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        width: 400px;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        margin: 0;
        span {
            color: #347aff;
        }
    }
    &__text {
        width: 400px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #808080;
    }
    &__bubbles {
        position: absolute;
        background: linear-gradient(319.24deg, #2972fe 4.63%, #6499ff 86.67%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img-phone {
        position: relative;
        top: 20px;
        right: 30px;
    }
    .bubbles1 {
        width: 120px;
        height: 125px;
        top: -30px;
        right: 120px;
    }
    .bubbles2 {
        width: 100px;
        height: 100px;
        bottom: -30px;
        left: -20px;
    }
    .bubbles3 {
        width: 30px;
        height: 30px;
        bottom: 30px;
        right: 270px;
    }
    .bubbles4 {
        width: 60px;
        height: 60px;
        top: 20px;
        left: 80px;
    }
    @media (max-width: 1050px) {
        .bubbles4{
            width: 50px;
            height: 50px;
            top: 0;
            left: 30px;
        }
        .afemePhone__img-phone{
            width: 35%;
            height: 35%;
        }
        .afemePhone__title{
            font-size: 32px;
        }
    }
    @media (max-width: 940px) {
        .bubbles1{
            right: 60px;
        }
    }
    @media (max-width: 800px) {
        .afemePhone{
            display: none;
        }
    }
}
