@import "../../Assets/scss/colors.scss";
.viewAll{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__link{
        font-size: 14px;
        line-height: 14px;
        color: $cardBlue;
    }
    & img{
        transition: all .3s;
        padding-left: 3px;
    }
    &:hover img{
        transform: translateX(10px);
    }
}
.section.recommend{
    width: 100%;
    padding-bottom: 40px;
    .cards{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .section__title{
        font-weight: 500;
        font-size: 32px;
        line-height: 30px;
        padding-bottom: 40px;
    }
}