.form-title {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.form {
    max-width: 500px;
    margin: 0 auto;
}