@import "../../Assets/scss/colors.scss";
.disable {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid $lightgray;
}
.default {
    display: none;
}
.change {
    width: 300px;
    height: 150px;
    position: relative;
    margin-bottom: 20px;
    .img {
        width: 100%;
        height: 100%;
        border: 1px solid red;
    }
    .icon {
        cursor: pointer;
        position: absolute;
        right: 0;
    }
}
.textarea {
    font-family: sans-serif;
    font-weight: 500;
    text-align: start;
    height: 100px;
}

.forget {
    min-width: 280px;
    margin: 100px auto;
    padding: 100px 80px;
    background-color: $lightBlue;
    border-radius: 10px;
    .forget__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .form__input {
            max-width: 300px !important;
            min-width: 230px !important;
            margin-bottom: 20px;
        }
        .button {
            padding: 8px 16px;
            background-color: $darkBlue;
            border: 2px solid $darkBlue;
            color: $white;
            border-radius: 5px;
        }
        .button:hover,
        .button:active,
        .button:focus {
            background-color: transparent;
            border: 2px solid $darkBlue;
            color: $darkBlue;
        }
        .title {
            margin: 0 0 20px 0;
            color: $darkBlue;
        }
        .descr {
            margin: 0 0 20px 0;
            color: $lightgray;
        }
        .error {
            margin: 0 0 10px 0;
            color: $crimson;
        }
    }
}

.form_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .ilus {
        margin-right: 100px;
    }
    .form {
        min-width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 15px;
        p {
            margin: 0;
            width: 100%;
            font-size: 12px;
            font-weight: 500;
            color: $crimson;
            text-align: left;
        }
        .form_img {
            width: 120px;
            height: 120px;
        }
        .form_title {
            margin: 0;
            font-weight: 500;
            font-size: 28px;
            color: $black;
        }
        .usertregion,
        .fullname {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .region,
            .type,
            .name,
            .lastname {
                width: 240px;
            }
        }
        .btns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .button {
                cursor: pointer;
                width: 178px;
                height: 50px;
                background-color: $darkBlue;
                border-radius: 10px;
                border: 2px solid $darkBlue;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $white;
            }
            .button:hover,
            .button:active,
            .button:focus {
                background-color: $white;
                color: $darkBlue;
                transition: 0.4s ease-in-out;
            }
        }
    }
}

@media (max-width: 1100px) {
    .form_wrap {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .ilus {
            display: none;
        }
    }
}
@media (max-width: 510px) {
    .form_wrap {
        .form {
            min-width: 300px;
            margin: 0 10px;
            .usertregion,
            .fullname {
                row-gap: 10px;
                .region,
                .type,
                .name,
                .lastname {
                    width: 100%;
                }
            }
        }
    }
}
