@import '../../../Assets/scss/colors.scss';
.st0 {
    fill: $LightGreen;
    fill-opacity: 1;
}
.st1 {
    fill: $LightGreen;
    fill-opacity: 0.2;
}
.st2 {
    fill: $LightGreen;
}

#completion {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
    display: block;
}

@keyframes hideshow {
    0% {
        opacity: 0.2;
    }
    10% {
        opacity: 0.2;
    }
    15% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

#cirkel {
    animation: hideshow 0.4s ease;
}

#check {
    animation: hideshow 0.4s ease;
}

#stars {
    animation: hideshow 1s ease;
    opacity: 0.9;
}

@keyframes hideshow {
    0% {
        transform: scale(0.2);
        transform-origin: initial;
    }
    100% {
        transform: scale(1);
        transform-origin: initial;
    }
}

@keyframes draaien {
    0% {
        transform: rotate(40deg);
        transform-origin: initial;
    }
    100% {
        transform: scale(0deg);
        transform-origin: initial;
    }
}

#check {
    animation: draaien 0.8s ease;
}

@keyframes transparant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#check {
    animation: transparant 2s;
}
