@import "../../Assets/scss/colors.scss";
.typeInp {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 20px;
    p {
        width: 130px;
        height: 40px;
        font-weight: 400;
        font-size: 19px;
        color: $black;
    }
    .InpG {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
            margin: 0 20px 13px 0;
            width: 90px;
            height: 40px;
            border: 1px solid $shadow;
            border-radius: 5px;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
        }
        select {
            width: 110px;
            height: 40px;
            padding: 5px;
            background-color: $white;
            border: 1px solid $shadow;
            border-radius: 5px;
        }
        span {
            margin-right: 20px;
        }
        button {
            margin: 0 20px 13px 0;
            padding: 0 15px;
            height: 41px;
            background: $white;
            border: 1px solid $shadow;
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: $black;
        }
        button:active,
        button:hover,
        button:focus {
            background-color: $darkBlue;
            color: $white;
        }
        button:focus {
            border: 1px solid $darkBlue;
        }
    }
}
@media only screen and (max-width: 767px) {
    .InpG {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        button{
            font-size: 20px !important;
            font-weight: 500 !important;
        }
    }
}
@media only screen and (max-width: 319px) {
    .typeInp {
        flex-direction: column;
        .InpG{
            flex-wrap: wrap;
            p {
                font-size: 26px;
                margin: 20px 0;
            }
            input {
                margin-right: 20px;
                width: 110px;
                height: 50px;
            }
            select{
                height: 50px;
            }
            span{
                margin-bottom: 231231230px;
            }
            button{
                font-size: 20px !important;
                font-weight: 500 !important;
            }
        }
    }
}