.hero {
    position: relative;
    padding: 100px 0px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-size: cover;
    background-position: center center;
    object-fit: cover;

    .hero__object {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(24,41,48,.4);
        width: 100%;
        height: 500px;
    }

    .hero__blog {
        
        position: relative;
        z-index: 11;
    }

    &__main-title {
        margin: 0;
        margin-top: 100px;
        margin-bottom: 80px;
        font-weight: 600;
        font-size: 50px;
        text-align: center;
        line-height: 59px;
        color: #ffffff;
        z-index: 99999;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
            0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}