.user-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 930px;
    height: 100%;
}

.user-massage__title {
    margin: 0;
}

.user-wrap-router {
    display: flex;
    width: 1250px;
}