@import "../../../Assets/scss/colors.scss";
.wrapper {
    width: 500px !important;
    height: 507px !important;
    padding: 70px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
        padding: 0;
        text-align: center;
        font-weight: 500;
        color: grey;
        font-size: 16px;
    }
    .btnG{
        width: 260px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button {
            cursor: pointer;
            width: 100px;
            height: 50px;
            border-radius: 10px;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
        }
        .button:nth-child(1) {
            background-color: $crimson;
        }
        .button:nth-child(2) {
            background-color: $darkBlue;
        }
    }
}
