@import "../../Assets/scss/colors.scss";
.user-profil-wrap {
    display: flex;
    justify-content: space-between;
    width: 1250px;
    .personal {
        .title{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            p{
                color:$darkgray;
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: end;
        margin: 50px auto;
        button {
            cursor:pointer;
            padding: 8px 32px;
            background-color: $darkBlue;
            color: $white;
            border-radius: 8px;
            border: 1px solid $darkBlue;
            margin-bottom: 30px;
            transition: all .3s;
        }
        button:hover,
        button:active {
            background-color: $white;
            color: $darkBlue;
        }
        .inpG {
            display: flex;
            flex-direction: column;
            grid-gap: 30px;
            #outlined-basic {
                width: 350px;
            }
        }
    }
}
