@import "../../Assets/scss/colors.scss";

.house__type{
    color: $cardBlue;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 10px !important;
    padding: 3px 7px;
    border: 1px solid $cardBlue;
    border-radius: 15px;
    cursor: pointer;
    height: 20px;
}
.house__prices{
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    color: #6D7580;
}
.house__price{
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: $cardBlue;
}
.house__address{
    font-weight: 500;
    padding-left: 5px;
}
.card__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    padding: 8px 0 10px !important;
    display: inline-block;
    margin: 0;
    color: #000;
}
.card{
    border-radius: 12px !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4) !important;
    margin-bottom: 30px;
    position: relative;
    min-width: 280px;
    max-width: 350px !important;
    // &:hover &__content{
    //     position: absolute;
    //     transition: all .3s;
    //     top: 0;
    // }
    &__header, &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__main{
        padding: 0 16px !important;
    }
    &__footer{
        padding: 0 16px 10px !important;
    }
    &__btn img{
        width: 16px;
        height: 16px;
    }
    &__call, &__msg{
        background: radial-gradient(100% 100% at 50.44% 100%, #367BFF 0%, #6197FF 100%);
    }
    &__call{
       padding: 8px 16px !important;
       border-radius: 5px !important;
    }
    &__msg{
        margin: 0 !important;
    }
    .card__love-icon{
        width: 20px;
        height: 20px;
    }
    .card__love-icon.active{
        animation: heart 0.8s;
    }
    .card__love-icon.active svg{
        fill: red;
    }
    @keyframes heart {
        0%{
            transform: scale(1);
        } 30%{
            transform: scale(0.8);
        } 60%{
            transform: scale(1.5);
        } 100%{
            transform: scale(1);
        }
    }
}
.scard{
    margin-right: 30px;
    min-width: 350px;
    width: 390px;
}
.fullCard{
    width: 100%;
    padding: 20px 20px 20px 30px;
    display: flex;
    box-shadow: none !important;
    background-color: #F6F6F6 !important;
    border-radius: 15px !important;
    margin-bottom: 35px;
    &__img{
        max-height: 200px;
        height: 200px;
        max-width: 350px;
        min-width: 300px;
        border-radius: 10px;
    }
    .card__header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .card__content{
        width: 100%;
    }
    .house__prices{
        min-width: auto !important;
        margin-left: 10px;
    }
    .card__desc{
        height: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        display: inline-block;
        margin-bottom: 15px;
    }
    .card__btn{
        margin-left: 10px !important;
    }
    &__foot{
        display: flex;
        align-items: center;
    }
    .card__location{
        margin-left: 10px;
    }
}