@import "../../Assets/scss/colors.scss";

.house__type {
    color: $cardBlue;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 10px !important;
    padding: 3px 7px;
    border: 1px solid $cardBlue;
    border-radius: 15px;
    cursor: pointer;
    height: 20px;
    display: flex;
    align-items: center;
    // margin-bottom: 10px;
}

.house__prices {
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    color: #6d7580;
}

.house__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: $cardBlue;
}

.house__address {
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
}

.card__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 0 !important;
    margin: 0px 0px 18px 0px !important;
    display: inline-block;
    margin: 0;
    color: #000;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.card__box-wrap {
    display: flex;
    justify-content: space-between;
}

.card__men {
    font-size: 14px;
    color: #6d7580;
    margin-right: 10px;
}

.edit-btn {
    display: flex;
}

.card__wrap {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.failText {
    padding: 10px 20px;
    background-color: #ffacac;
    color: #111;
    font-weight: 500;
    border-radius: 12px;
    width: 100%;
    text-align: center;
}

.card {
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    height: 280px;
    border-radius: 8px !important;
    // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4) !important;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 3px;

    &Controls {
        border: 1px solid #ff000080 !important;
    }

    &Edit {
        border-color: #0468ffaf !important;
    }

    &__header,
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        // object-fit: cover;
        // width: 100%;
        // height: 100%;
    }

    &__main {
        padding: 0 16px !important;
    }

    &__footer {
        padding: 0 16px 10px !important;

        p {
            display: flex;
            align-items: center;
            font-weight: 400 !important;
            font-size: 18px;
            line-height: 22px;
            color: #6d7580;
        }
    }

    &__btn img {
        width: 16px;
        height: 16px;
    }

    &__call,
    &__msg {
        background: radial-gradient(100% 100% at 50.44% 100%,
                #367bff 0%,
                #6197ff 100%);
    }

    &__call {
        padding: 8px 16px !important;
        border-radius: 5px !important;
    }

    &__msg {
        margin: 0 !important;
    }
}

.house__type__icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.house__type__name {
    margin: 0;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card__actions {
    display: flex;
}

.scard {
    margin-right: 30px;
    min-width: 350px;
    width: 390px;
}

.scard:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fullCard {
    width: 100%;
    padding: 20px 20px 20px 30px;
    display: flex;
    box-shadow: none !important;
    background-color: #f6f6f6 !important;
    border-radius: 15px !important;
    margin-bottom: 35px;

    &__img {
        max-height: 230px;
        height: 230px;
        max-width: 350px;
        min-width: 300px;
        border-radius: 10px;
    }

    .card__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .card__header__items {
        display: flex;
        align-items: center;
    }

    .card__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card__title {
        margin: 0 !important;
        margin-right: 10px !important;
    }

    .house__prices {
        min-width: auto !important;
        margin-left: 10px;
    }

    .card__desc {
        height: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        display: inline-block;
        margin-bottom: 15px;
        width: 75%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }

    .card__btn {
        margin-left: 10px !important;
    }

    &__foot {
        display: flex;
        align-items: center;
    }
}