.advertGallery {
    margin: 0;
    margin: 30px 0;
    .splide__slide{
        width: 275px;
    }
    .advert__thumbs{
        margin-top: 10px;
    }
}
.splide__video:hover{
    transform: scale(1) !important;
}