.chat{
    .messages{
        height: 100%;
        max-height: 100%;
        overflow-y: hidden;
        margin-top: 10px;
        position: relative;
        .bubbles{
            height: 100%;
        }
        .styles_scrollable-div__prSCv{
            padding-right: 15px;
        }
        .message{
            width: 100%;
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
            scroll-behavior: smooth;
            &__content{
                display: flex;
                flex-direction: column;
                padding: 8px 10px;
                background-color: #F1F1F1;
                border-radius: 12px;
                min-width: 150px;
                transition: all .2s;
                &:hover{
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
            }
            &__sender{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 15px;
                border-top-right-radius: 0;
            }
            &__text{
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #000000;
                word-wrap: break-word;
            }
            &__date{
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
                font-weight: 500;
                margin: 0;
                color: #777;
                padding-top: 5px;
                transform: translateX(5px);
            }
        }
        .incoming{
            .message__content{
                border-bottom-left-radius: 0;
            }
        }
        .outgoing{
            justify-content: flex-end;
            .message{
                &__content{
                    border-bottom-right-radius: 0;
                    background-color: #357aff;
                    color: #fff;
                }
                &__text{
                    color: #fff;
                }
                &__date{
                    color: #f5f5f5;
                }
            }
        }
    }
    .scrollBottom{
        position: absolute;
        bottom: -40px;
        opacity: 0;
        left: 30px;
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        background-color: #357aff;
        border-radius: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
        transition: all .2s;
        z-index: 99;
        &.active{
            bottom: 40px;
            opacity: 1;
        }
    }
}