@import "../../Assets/scss/colors.scss";

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    .pageName {
        font-size: 34px;
        margin-bottom: 20px;
        color: $darkBlue;
    }
    .htypeText {
        margin: 0;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .typeInp {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        p {
            min-width: 130px !important;
            font-weight: 400;
            font-size: 19px;
            color: $black;
        }
        .InpG {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 7px;
            .input,
            .inputf {
                margin-right: 20px;
                width: 100px;
                height: 50px;
                border: 1px solid $shadow;
                border-radius: 5px;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                padding: 15px;
            }
            .input::placeholder {
                font-weight: 300;
                font-size: 16px;
                text-align: center;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }
            select {
                width: 130px;
                height: 50px;
                padding: 5px;
                background-color: $white;
                border: 1px solid $shadow;
                border-radius: 5px;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: "";
                font-size: 16px;
                padding: 15px;
            }
            span {
                margin-right: 20px;
            }
            button {
                min-width: 100px;
                margin-right: 20px;
                padding: 0 15px;
                height: 50px;
                background: $white;
                border: 1px solid $shadow;
                border-radius: 5px;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
            button:active,
            button:hover,
            button:focus {
                background-color: $darkBlue;
                color: $white;
            }
            button:focus {
                border: 1px solid $darkBlue;
            }
        }
    }
    .BtnW {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .onBtn {
            margin: 20px 0;
            padding: 0 15px;
            background-color: $darkBlue;
            color: $white;
            font-size: 25px;
            font-weight: 500;
            text-transform: capitalize;
            border: 2px solid $darkBlue;
            border-radius: 5px;
        }

        .onBtn:hover {
            background-color: $white;
            color: $darkBlue;
            transition: 0.4s ease-in;
        }
    }
    .Price {
        .numInp {
            margin: 0 20px 13px 0;
            width: 190px;
            height: 50px;
            border: 1px solid $shadow;
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            padding: 15px;
        }

        .numInp::placeholder {
            font-size: 16px;
            font-weight: 500;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }

        .select {
            width: 100px;
            height: 50px;
            padding: 5px;
            background-color: $white;
            border: 1px solid $shadow;
            border-radius: 5px;
            padding: 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
@media (min-width: "768px") and (max-width: "1024px") {
    .container {
        max-width: 1024px;
        .typeInp {
            flex-wrap: nowrap;
            .InpG {
                button {
                    margin: 10px 20px 0 0;
                }
            }
        }
    }
}
@media (min-width: "450px") and (max-width: "660px") {
    .total {
        .input {
            margin-top: 5px;
        }
    }
}
@media (min-width: "450px") and (max-width: "768px") {
    .container {
        max-width: 768px;
        .typeInp {
            flex-wrap: nowrap;
            .InpG {
                button {
                    margin: 10px 20px 0 0;
                }
            }
        }
    }
}
@media (max-width: "450px") {
    .container {
        max-width: 450px;
        min-width: 300px;
        text-align: center;
        .typeInp {
            display: flex;
            flex-direction: column;
            align-items: center;
            .InpG {
                justify-content: center;
                align-items: baseline;
                .inputf {
                    width: 100px;
                }
                .input,
                select,
                button {
                    width: 140px;
                    margin: 0;
                    margin-bottom: 10px;
                }
                span {
                    margin-right: 10px;
                }
                .input:nth-child(odd),
                .inputf:nth-child(odd),
                select:nth-child(odd),
                button:nth-child(odd) {
                    margin-right: 10px;
                }
            }
        }
        .Price{
            display: flex;
            justify-content: center;

        }
        .BtnW{
            justify-content: center;
            .onBtn{
                font-size: 16px;
                padding: 8px 32px;
                font-weight: 500;
            }
        }
    }
}
