@import "../../Assets/scss/colors.scss";
.realtor-wrap {
    &__container {
        max-width: 1030px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        .realtor-card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 300px;
            padding: 15px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            border-radius: 10px;
            color: $darkBlue;
            .avatar {
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                .realtor-card__avatar {
                    border-radius: 50%;
                    height: 150px;
                    object-fit: cover;
                }
            }
            .realtor-card__wrap {
                .rating {
                    margin: 0 auto 10px auto;
                    width: 130px;
                }
                .realtor-card__title {
                    max-width: 340px;
                    font-size: 18px;
                }
                .realtor-card__desc {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 970px) {
    .realtor-wrap {
        .realtor-card {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            width: 750px;
            .avatar {
                width: 150px;
                height: 150px;
                margin-right: 30px;
            }
            &__wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                .name {
                    .realtor-card__title {
                        font-size: 28px;
                        margin: 0;
                    }
                }
                .ratreg {
                    position: absolute;
                    right: 10px;
                    .rating {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .realtor-card__title {
            font-size: 24px;
            line-height: 38px;
        }
    }
}

@media only screen and (max-width: 870px) {
    .realtor-wrap {
        .realtor-card {
            width: 650px;
        }

        .realtor-card__title {
            font-size: 20px;
            line-height: 38px;
        }
    }
}

//============ Mobil Responsiv //===============

@media only screen and (max-width: 768px) {
    .realtor-wrap {
        &__container {
            .realtor-card {
                width: 550px;
                height: 150px;
                .avatar {
                    width: 100px;
                    margin: 0;
                    .realtor-card__avatar {
                        width: 100px;
                        height: 100px;
                    }
                }
                &__wrap {
                    margin-left: 20px;
                    .name {
                        .realtor-card__title {
                            margin-bottom: 10px;
                            font-size: 20px;
                            line-height: 25px;
                        }
                    }
                    .ratreg {
                        .realtor-card__desc {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 590px) {
    .realtor-wrap {
        &__container {
            padding: 0 10px;
            .realtor-card {
                width: 500px;
                .avatar {
                    width: 100px;
                    margin: 0;
                }
                &__wrap {
                    margin-left: 20px;
                    .name {
                        .realtor-card__title {
                            margin-bottom: 10px;
                            font-size: 20px;
                            line-height: 25px;
                        }
                    }
                    .ratreg {
                        .realtor-card__desc {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .realtor-wrap {
        padding: 0 10px;
        &__container {
            .realtor-card {
                width: 400px;
                &__wrap {
                    justify-content: flex-start;
                    flex-direction: column;
                    .ratreg {
                        display: none;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 420px) {
    .realtor-wrap {
        padding: 0 10px;
        &__container {
            .realtor-card {
                width: 300px;
                &__wrap {
                    justify-content: flex-start;
                    flex-direction: column;
                    .ratreg {
                        display: none;
                    }
                }
            }
        }
    }
}