@import "../../Assets/scss/colors.scss";
// @import 'bootstrap/dist/css/bootstrap.min.css';

.header {
    padding: 5px 0px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-img {
        width: 150px;
        height: 50px;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__location {
        background-color: #f0f0f0 !important;
        color: #292929 !important;
        border-radius: 30px !important;
        font-weight: 400 !important;
        font-size: 12px !important;

        &-img {
            margin-right: 5px;
            width: 18px;
        }
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__buttons {
        margin-left: 30px;
    }

    &__icon {
        width: auto;
        height: auto;
    }

    .login__btn {
        color: #fff;
        background-color: #347aff !important;
    }

    .add__advert img {
        padding-right: 6px;
    }

    &__menu-btn {
        display: none;
    }
};

// Responsiv Header Tablet version

@media only screen and (max-width: 985px) {
    .header {

        .header__items {
            display: none;
        }

        .header__icons-nav {
            display: none;
        }

        .header__menu-btn {
            display: flex;
        }
    }
}