.nav{
    padding: 10px 0;
    &_content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_logo{
        display: flex;
        align-items: center;
    }
    &_location{
        background-color: #F0F0F0 !important;
        color: #292929 !important;
        border-radius: 30px !important;
        font-weight: 400 !important;
        font-size: 14px !important;
    }
    &_items{
        display: flex;
    }
    &_buttons{
        margin-left: 20px;
    }
    &_icon{
        width: auto;
        height: auto;
    }
    .login_button{
        background-color: #E5F0FF;
    }
}