:root{
    --sliderWidth: 250px;
}
.our__partners, .advertGallery{
    margin: 75px 0;
    .splide__track{
        border-radius: 10px;
    }
    .splide__slide{
        border-radius: 10px;
        overflow: hidden;
    }
    .splide__img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all .3s;
        &:hover{
            transition: all .3s;
            transform: scale(1.1);
        }
    }
}
.our__partners{
    .splide__slide{
        width: var(--sliderWidth);
    }
}
