.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        width: 100px;
        height: 100px;
    }
}

.imgF {
    width: 407.85px;
    height: 194px;
    background: #e5f0ff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-content: center;
    .htypeText {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
        font-weight: 500;
        color: #000000;
    }
    .dropArea {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        p {
            margin-left: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #6d7580;
        }
        Button {
            background-color: transparent;
            width: 173px;
            height: 39px;
            border: 1px solid #357aff;
            border-radius: 5px;
            color: #357aff;
        }
    }
    .dragArea {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        margin: 0 auto;
        border: 1px solid #357aff;
        p {
            margin-left: 20px;
            font-weight: 500;
            font-size: 26px;
            line-height: 19px;
            color: #6d7580;
        }
        Button {
            display: none;
        }
    }
}
