@import "../../Assets/scss/colors.scss";

.loadingSpinner {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorBlog {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    margin: 40px 0;
}

.advert {
    margin-top: 50px;
    &__content {
        width: 70%;
        margin-right: 20px;
        padding: 20px 15px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-bottom: 30px;
    }
    &__blog {
        display: flex;
    }
    &__main__img {
        border-radius: 10px;
        overflow: hidden;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__about__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #333;
        line-height: 22px;
        margin-right: 20px;
        &__content {
            font-weight: 700;
            font-size: 26px;
            margin: 0;
        }
    }
    .house__type__icon {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }
    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__houseType {
        display: flex;
        align-items: center;
        color: $cardBlue;
        font-weight: 500 !important;
        font-size: 13px !important;
        line-height: 10px !important;
        padding: 4px 8px;
        border: 1px solid $cardBlue;
        border-radius: 15px;
        cursor: pointer;
        margin-left: 15px;
        word-wrap: none;
        & p {
            margin: 0;
            line-height: 15px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
        }
    }
    &__info {
        // width: 100%;
    }
    &__address__blog {
        display: flex;
        align-items: center;
    }
    &__address {
        display: flex;
        align-items: center;
        color: #222;
        margin: 0;
        margin-right: 10px;
        line-height: 22px;
        &__arrow {
            padding-left: 5px;
        }
    }
    &__description {
        padding: 30px 0;
    }
    &__items {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__btn {
        background-color: hsla(220, 100%, 60%, 0.12) !important;
    }
    #advertMap{
        height: 600px;
    }
    &Price {
        margin: 0;
        color: $cardBlue;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        padding-bottom: 2px;
    }
    &__view {
        display: flex;
        align-items: center;
        &__count {
            padding-left: 5px;
        }
    }
    .descr__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        margin: 0;
        margin-bottom: 10px;
    }
    .descr__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #757c8f;
    }
    &__panel {
        width: 30%;
    }
    .sellerProfile {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 15px 20px;
        margin-bottom: 30px;
        position: sticky;
        top: 15px;
        &__header {
            margin-top: 20px;
        }
        &__img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 20px;
        }
        &__header {
            display: flex;
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            margin: 0;
            color: #000;
        }
        &__type {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #6499ff;
        }
        &__actions {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__msg {
            margin: 0;
        }
        &__btn img {
            width: 16px;
            height: 16px;
        }
    }
    .sellerProfile__btn {
        margin-right: 15px;
        background: radial-gradient(
            100% 100% at 50.44% 100%,
            #367bff 0%,
            #6197ff 100%
        );
        border-radius: 10px;
        padding: 8px 16px;
    }
    .callBtn__text {
        margin: 0px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        padding-left: 5px;
    }
}
