@import "../../Assets/scss/colors.scss";
.sType {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    Button{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 194px;
        height: 194px;
        margin: 10px 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        border: 0;
        transition: 0.3s ease-in;
        span {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
        }
    }
    Button:hover,
    Button:focus {
        background-color: $darkBlue;
        .house {
            stroke: $white;
            transition: 0.1s ease-in;
        }
        span {
            color: $white;
            transition: 0.1s ease-in;
        }
    }
     
}
