@import "../../Assets/scss/colors.scss";
.sType {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    button {
        width: 195px !important;
        height: 195px !important;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        border: 0;
        transition: 0.3s ease-in;
        background-color: $white;
        box-sizing: border-box;
        p {
            margin: 0;
            color: $black;
            font-size: 22px;
        }
    }
    Button:hover,
    Button:focus {
        background-color: $darkBlue;
        .house {
            stroke: $white;
            transition: 0.1s ease-in;
        }
        p {
            color: $white;
            transition: 0.1s ease-in;
        }
    }
}
@media (min-width: "450px") and (max-width: "768px") {
    .sType {
        padding: 0;
        button {
            width: 150px !important;
            height: 150px !important;
            .house {
                width: 80px;
                height: 80px;
            }
            p {
                font-size: 24px;
            }
        }
    }
}
@media (max-width: "450px") {
    .sType {
        justify-content: center;
        button {
            width: 130px !important;
            height: 130px !important;
            .house {
                width: 50px;
                height: 50px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
