.search__form{
    width: 1100px;
    display: flex;
    // justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;
    .form__content {
        display: flex;
        background: #fff;
        padding: 12px 20px;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
        width: 90%;
        margin: 0 auto;
    }
    .filter__content {
        display: flex;
    }
    
    .filter__input{
        width: 110px;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        border: 2px solid #eff0f9;
        font-size: 16px;
        transition: all .2s;
        &:focus{
            border-color: #69afff;
        }
    }
    .search__box {
        position: relative;
        width: 100%;
        height: 45px;
        margin-left: 10px;
        
    }
    
    .search__box .input__search {
        position: absolute;
        font-size: 16px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-color: #d2d9f0;
        padding-left: 10px;
        border: 2px solid #eff0f9;
        border-radius: 10px;
        padding: 10px 10px 10px 15px;
        padding-left: 35px;
        transition: all .2s;
        &:focus{
            border-color: #69afff;
        }
    }
    .search__icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        padding-left: 10px;
        pointer-events: none;
    }
    
    #filter__select {
        padding: 10px 25px 10px 15px;
        min-width: 80px;
        border-radius: 10px;
        height: 45px;
        display: flex;
        align-items: center;
    }
    .filter__items fieldset{
        transition: all .2s;
        border: 2px solid #eff0f9;
    }
    .filter__items:hover fieldset{
        border-color: #69afff;
    }
    #filter__select-label {
        top: -3px;
    }
    .input__search::placeholder {
        font-size: 16px;
    }
    .search__submit-btn{
        height: 40px;
        font-size: 16px;
        margin-right: 55px;
        margin-top: 10px;
    }

    .search__btn-wrap {
        display: flex;
        align-items: center;
    }

    .search__map-btn {
        padding: 10px 30px;
        margin-top: 10px;
        margin-right: 10px;
        background: transparent;
        background-image: url("../../Assets/Img/krakow.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        color: #fff;
        border: none;
    }
}