.search__form {
    display: flex;
    // justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1100px;
    .form__content {
        display: flex;
        background: #fff;
        padding: 12px 20px;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
        width: 90%;
        margin: 0 auto;
    }
    .filter__content {
        display: flex;
    }
    .search__submit-btn {
        height: 40px;
        font-size: 16px;
        margin-right: 55px;
        margin-top: 10px;
    }

    .search__btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .search__map-btn {
        padding: 10px 30px;
        margin-top: 10px;
        margin-right: 10px;
        background: transparent;
        background-image: url("../../Assets/Img/krakow.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        color: #fff;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    }
}

.search__box {
    position: relative;
    width: 100%;
    height: 45px;
    margin-left: 10px;
}

.search__box .input__search {
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: #d2d9f0;
    padding-left: 10px;
    border: 2px solid #eff0f9;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    padding-left: 35px;
    transition: all 0.2s;
    &:focus {
        border-color: #69afff;
    }
}
.search__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding-left: 10px;
    pointer-events: none;
}

#filter__select {
    padding: 10px 25px 10px 15px;
    min-width: 80px;
    border-radius: 10px;
    height: 45px;
    display: flex;
    align-items: center;
}
.filter__items fieldset {
    transition: all 0.2s;
    border: 2px solid #eff0f9;
}
.filter__items:hover fieldset {
    border-color: #69afff;
}
#filter__select-label {
    top: -4px;
}
#filter__select-label[data-shrink="true"]{
    top: 0;
}
.input__search::placeholder {
    font-size: 16px;
}
.filter__input {
    width: 110px;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #eff0f9;
    font-size: 16px;
    transition: all 0.2s;
    &:focus {
        border-color: #69afff;
    }
}
.search__filter-btn{
    display: none !important;
}

.filterModal{
    display: flex;
    justify-content: center;
    align-items: center;
    &__blog{
        min-width: 280px;
        width: 300px;
        max-width: 400px;
        background-color: #fff;
        padding: 20px 15px;
        border-radius: 15px;
        overflow: hidden;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title{
        text-align: center;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .filter__items{
        width: 100%;
    }
    .filter__input{
        width: 100% !important;
    }
    .search__reset-btn{
        display: block !important;

    }
    .search__btn-wrap{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

.mapSearch{
    border-bottom: 1px solid #cacaca;
    &__filter{
        width: 100%;
        height: 75px;
        display: flex;
        padding: 15px 0;
    }
    // .filter__items{
    //     width: 100%;
    // }
    .filter__input{
        width: 125px;
    }
    .search__box{
        max-width: 310px;
    }
    .search__btn-wrap{
        display: flex;
    }
    .search__reset-btn{
        margin-right: 10px;
    }
}

@media (max-width: 1064px) {
    .mapSearch__filter .search__box {
        max-width: 200px;
    }
    .filter__input{
        width: 80px !important;
    }
}
@media (max-width: 992px) {
    .form__content {
        width: 75% !important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filter__content {
        width: 100%;
        justify-content: center;
        margin-bottom: 12px;
    }
    .search__box {
        width: 80% !important;
        .input__search {
            // width: 80% !important;
            left: 50% !important;
            transform: translateX(-50%);
        }
        .search__icon{
            left: 0;
        }
    }
    .search__btn-wrap{
        margin: 0 auto;
    }
    .search__submit-btn{
        margin-right: 0 !important;
    }
    .search__reset-btn{
        margin-right: 10px !important;
    }
}
@media (max-width: 860px) {
    .form__content {
        width: 90% !important;
        padding-top: 0 !important;
    }
    .filter__items{
        margin-top: 10px !important;
    }
}
@media (max-width: 725px) {
    .hero__main-title{
        margin: 60px 0 40px !important;
        font-size: 42px !important;
    }
    .filter__content {
        flex-wrap: wrap;
    }
}
@media (max-width: 660px) {
    .hero__main-title{
        margin: 50px 0 30px !important;
        font-size: 32px !important;
    }
    .form__content {
        padding: 12px !important;
    }
    .filter__content, .search__reset-btn {
        display: none !important;
    }
    .section__title {
        font-size: 28px !important;
        text-align: center !important; 
    }
    .search__box{
        width: 100% !important;
        margin: 0 5px !important;
    }
    .search__filter-btn{
        display: block !important;
        margin-right: 10px !important;
    }
}
@media (max-width: 450px) {
    .hero__main-title{
        margin: 40px 0 30px !important;
        font-size: 28px !important;
    }
}
@media (max-width: 375px) {
    .section__title{
        font-size: 24px !important;
    }
    .hero__main-title{
        font-size: 24px !important;
    }
}