@import "../../Assets/scss/colors.scss";
.chat {
    .chatsPanel {
        position: relative;
        grid-column: span 2;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        .back {
            position: absolute;
            display: block;
            right: 10px;
            padding: 6px 12px;
            border: 2px solid $darkBlue;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            background-color: $transparent;
            color: $darkBlue;
            cursor: pointer;
        }
        &__logo {
            display: flex;
            align-items: center;
        }
        &__header {
            display: flex;
            align-items: center;
            height: 60px;
            min-height: 60px;
            padding: 0 12px;
            &__title {
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                margin: 0;
                margin-left: 12px;
                color: #333;
            }
            .arrowDown {
                margin: 0 5px 0 10px;
            }
            .chats__indicator {
                padding: 2px 8px;
                background: #edf2f7;
                border-radius: 24px;
            }
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }
        &__main {
            height: 100%;
            overflow-y: auto;
            margin-top: 15px;
        }
        &__chats {
            overflow-y: auto;
            border-radius: 10px;
        }
        .chatProfile {
            display: flex;
            align-items: center;
            padding: 12px;
            border-radius: 10px;
            transition: 0.3s;
            &:hover,
            &.active {
                background-color: #8fdafd4d;
            }
            &__img {
                width: 50px;
                height: 50px;
                min-width: 50px;
                border-radius: 50px;
                object-fit: cover;
            }
            &__content {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-left: 15px;
            }
            &__name {
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: #000;
                margin: 0;
                margin-right: 8px;
            }
            &__text {
                word-wrap: break-word;
                white-space: -moz-pre-wrap;
                white-space: pre-wrap;
                font-weight: 600;
                font-size: 13px;
                line-height: 150%;
                color: rgba(0, 0, 0, 0.4);
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
                margin: 0;
            }
            &__read {
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: #444;
                padding-top: 5px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    bottom: 3px;
                    right: 0;
                    background-color: rgb(0, 211, 0);
                    border-radius: 50%;
                    opacity: 0;
                    transition: all 0.3s;
                }
                &.active::before {
                    opacity: 1;
                }
            }
            @media (max-width: 900px) {
                padding: 12px 10px;
                &__img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        @media (max-width: 768px) {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: -110%;
            z-index: 999;
            transition: all 0.3s;
            background-color: #fff;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);

            &.active {
                left: 0;
            }
            .chatProfile {
                margin: 10px 0;
                &__img {
                    width: 50px;
                    height: 50px;
                }
                &__name {
                    font-size: 17px;
                }
                &__text,
                &__read {
                    font-size: 14px;
                }
            }
        }
        @media (max-width: 400px) {
            padding: 0 10px;

            .chatProfile {
                margin: 5px 0;
                &__img {
                    width: 40px;
                    height: 40px;
                }
                &__name {
                    font-size: 16px;
                }
                &__text {
                    font-size: 12px;
                }
                &__read {
                    font-size: 13px;
                }
            }
        }
    }
}
