@import "../../Assets/scss/colors.scss";
.postEdit {
    margin: 0 auto;
    max-width: 630px !important;
    h1 {
        text-align: center;
        color: $darkBlue;
        margin: 10px 0;
    }
    p {
        color: $gray;
        text-align: center;
    }
    .priceSubmit {
        width: 630px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .price {
            width: 300px;
        }
        .btnSubmit {
            height: 56px;
            font-size: 20px;
            color: $white;
            background-color: $darkBlue;
            border: 3px solid $darkBlue;
            border-radius: 5px;
            padding: 0 32px;
        }
        .btnSubmit:hover,
        .btnSubmit:active,
        .btnSubmit:focus {
            transition: 0.4s ease-in-out;
            cursor: pointer;
            background-color: transparent;
            color: $darkBlue;
        }
    }
    .descr {
        width: 620px;
        margin-bottom: 20px;
        .descrArea {
            max-width: 620px;
            width: 620px;
            height: 100px;
            max-height: 300px;
            border: 3px solid $darkBlue;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
        }
        .descrTitle {
            font-weight: 400;
            margin: 0 0 10px 0;
            color: $darkBlue;
        }
    }
    .document {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 630px;
        gap: 10px;
        .docs {
            border-radius: 10px;
            width: 48%;
            height: 20vh;
            position: relative;
            .icon {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
            }
            .icon:hover {
                border-radius: 50%;
                background-color: $gray;
                color: $black;
                margin: 5px 5px 0 0;
                transition: 0.2s ease-in;
                transform: scale(1.3);
            }
        }
        .addDocs {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .inp {
                display: none;
            }
            .addDocument {
                width: 100%;
                text-align: center;
                display: block;
                padding: 8px 32px;
                color: $white;
                font-size: 16px;
                letter-spacing: 1px;
                border-radius: 5px;
                border: 2px solid $darkBlue;
                background-color: $darkBlue;
            }
            .addDocument:hover,
            .addDocument:focus,
            .addDocument:active {
                cursor: pointer;
                background-color: transparent;
                color: $darkBlue;
            }
        }
    }
    .videos {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 630px;
        .video {
            width: 100%;
            position: relative;
            .icon {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
                color: $white;
                width: 30px;
                height: 30px;
            }
            .icon:hover {
                border-radius: 50%;
                background-color: $gray;
                color: $black;
                margin: 5px 5px 0 0;
                transition: 0.2s ease-in;
                transform: scale(1.3);
            }
        }
        .addVid {
            width: 100%;
            margin-bottom: 20px;
            .inp {
                display: none;
            }
            .addVideo {
                display: block;
                padding: 8px 32px;
                text-align: center;
                color: $white;
                font-size: 16px;
                letter-spacing: 1px;
                border-radius: 5px;
                border: 2px solid $darkBlue;
                background-color: $darkBlue;
            }
            .addVideo:hover,
            .addVideo:focus,
            .addVideo:active {
                cursor: pointer;
                background-color: transparent;
                color: $darkBlue;
            }
        }
    }
    .images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
        width: 630px;
        .img1,
        .img {
            width: 150px;
            height: 150px;
            border-radius: 10px;
            position: relative;
            .icon {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
            }
            .icon:hover {
                border-radius: 50%;
                background-color: $gray;
                color: $black;
                margin: 5px 5px 0 0;
                transition: 0.2s ease-in;
                transform: scale(1.3);
            }
        }
        .addImgInp {
            display: none;
        }
        .addImgBtn {
            display: none;
            width: 100%;
            background-color: $darkBlue;
            border: 2px solid $darkBlue;
            color: $white;
            padding: 8px 0;
            border-radius: 5px;
            text-align: center;
        }
        .addImgBtn:hover,
        .addImgBtn:active,
        .addImgBtn:focus {
            cursor: pointer;
            background-color: $white;
            color: $darkBlue;
        }
        .addImg {
            .inp {
                display: none;
            }
            .addImage {
                display: block;
                border: 2px solid $darkBlue;
                cursor: pointer;
                border-radius: 10px;
                padding: 73px;
                background: $lightBlue url(../../Assets/Img/Icon/add.svg) no-repeat center center/cover;
                fill: $darkBlue;
            }
        }
    }
    .saleHouse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        .selectInp,
        .address {
            width: 300px;
        }
        .area {
            width: 85px;
        }
        .areaselect {
            width: 300px;
        }
        .tools {
            width: 23%;
        }
    }
}

@media (min-width: 450px) and (max-width: 650px) {
    .postEdit {
        .saleHouse {
            gap: 15px;
            .selectInp,
            .address {
                width: 100% !important;
            }
            .area,
            .tools {
                width: 20%;
            }
            .areaselect {
                width: 20%;
            }
        }
        .images {
            width: 100%;
            row-gap: 15px;
            justify-content: space-between;
            .addImgBtn {
                display: block;
            }
            .img1,
            .img {
                min-width: 48%;
                min-height: 49%;
            }
            .addImg {
                display: none;
            }
        }
        .videos {
            width: 100%;
            .video {
                width: 100%;
            }
        }
        .document {
            justify-content: space-between;
            width: 100%;
            .docs {
                width: 48%;
            }
        }
        .descr {
            width: 100%;
            .descrArea {
                width: 100%;
            }
        }
        .priceSubmit {
            justify-content: space-between;
            width: 100%;
            .price {
                width: 50vw;
            }
        }
    }
}

@media (min-width: 450px) and (max-width: 530px) {
    .images {
        row-gap: 15px !important;
        .img,
        .img1 {
            min-width: 48% !important;
        }
    }
}

@media (max-width: 450px) {
    .postEdit {
        min-width: 290px;
        .saleHouse {
            row-gap: 20px;
            .selectInp,
            .address {
                width: 100% !important;
            }
            .area,
            .areaselect,
            .tools {
                width: 45%;
            }
        }
        .images {
            row-gap: 20px;
            width: 100%;
            justify-content: space-between;
            .addImgBtn {
                display: block;
            }
            .img1,
            .img {
                width: 48%;
                min-height: 45%;
            }
            .addImg {
                display: none;
            }
        }
        .videos {
            width: 100%;
            .video {
                width: 100%;
            }
        }
        .document {
            justify-content: space-between;
            width: 100%;
            min-width: 320px;
            .docs {
                width: 48%;
            }
        }
        .descr {
            width: 100%;
            .descrArea {
                width: 100%;
            }
        }
        .priceSubmit {
            width: 100%;
            .price {
                width: 40vw;
            }
        }
    }
}
