.login-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}

// Tablet Responsiv
@media only screen and (max-width: 995px) {
    .login-control {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    // .logo-oval {
    //     top: 50px;
    //     left: 400px;
    // }

    // .logo-home {
    //     top: 140px;
    //     left: 410px;
    // }
}