$sphone: 320px;
$lPhone: 425px;
$sTablet: 576px;
$lTablet: 768px;
$sLaptop: 992px;
$lLaptop: 1240px;

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("../src/Assets/Fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../src/Assets/Fonts/roboto-v30-latin-300.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local(""), url("../src/Assets/Fonts/roboto-v30-latin-100.woff2") format("woff2"), url("../src/Assets/Fonts/roboto-v30-latin-100.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../src/Assets/Fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../src/Assets/Fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../src/Assets/Fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../src/Assets/Fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../src/Assets/Fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../src/Assets/Fonts/roboto-v30-latin-700.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("../src/Assets/Fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../src/Assets/Fonts/roboto-v30-latin-900.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0 !important;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    backdrop-filter: blur(4px);
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: dodgerblue;
}

a {
    text-decoration: none;
}

input,
input:focus {
    outline: none;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-wrap: 1;
}

.btn {
    text-transform: none !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    white-space: nowrap;
}

.icon__btn {
    width: max-content !important;
    height: max-content !important;
}
