.InpG {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .select {
    min-width: 320px;
    height: 50px;
    margin-bottom: 20px;
  }
  .select:first-child {
    margin-right: 20px;
  }
  .input {
    padding: 0 15px;
    margin-bottom: 20px;
    height: 50px;
    width: 320px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-weight: 600;
  }
  .input:nth-child(odd){
    margin-right: 20px;
  }

  .input::placeholder {
    font-weight: 400;
    font-size: 1rem;
  }
}

.map {
  width: 660px;
  height: 330px;
  border-radius: 10px;
}
@media (min-width: "450px") and (max-width: "768px") {
  .InpG {
    max-width: 768px;
    min-width: 450px;
    .select {
      width: 100%;
    }
    .select:first-child{
      margin-right: 0;
    }
    .input {
      width: 100%;
    }
  }
}

@media (max-width: "450px") {
  .InpG {
    max-width: 450px;
    min-width: 300px;
    .select {
      width: 100%;
    }
    .select:first-child{
      margin-right: 0;
    }
    .input {
      width: 100%;
    }
  }
}
