.user__ads{
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}
.userNoAds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
