.user__photo{
    margin-bottom: 30px;
    width: 150px !important;
    height: 150px !important;

}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 450px;
    min-height: 596px;
    box-shadow: 0px 0px 4px 1px #e1e1e1;
    border-radius: 15px;
    .userProfile__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    b {
        font-size: 24px;
        line-height: 28px;
    }
    .InpG {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        input {
            display: flex;
            margin-top: 15px;
            width: 330px;
            height: 40px;
        }
    }
}
@media (max-width:319px) {
    .card{
        margin: 0;
        width: 319px !important;
        .InpG{
            width: 300px;
            input{
                width: 280px !important;
            }
        }
    }
}