@import "../../Assets/scss/colors.scss";
.helppage {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 75px 580px;
    column-gap: 80px;
    row-gap: 80px;
    .title {
        grid-column: 1/3;
        text-align: center;
        h1 {
            font-weight: 700;
            font-size: 30px;
            line-height: 35px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $lightgray;
        }
    }
    .form {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(6, 60px);
        text-align: right;
        .input,
        .select {
            text-align: left;
            width: 350px;
            height: 60px;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        .area {
            width: 350px !important;
            min-height: 120px !important;
            max-height: 120px;
            border-radius: 5px;
            border: 1px solid $lightgray;
            font-size: 16px;
            font-family: sans-serif;
            padding: 10px;
            margin-bottom: 20px;
        }
        .btn {
            padding: 8px 24px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            background-color: $darkBlue;
            color: $white;
            border: 2px solid $darkBlue;
            border-radius: 8px;
        }
    }
}
@media (max-width: 300px) {
    .helppage {
        padding: 0;
        grid-template-columns: repeat(1, 300px);
        column-gap: 0;
        .title {
            grid-column: 1/1;
        }
        .form {
            grid-template-columns: repeat(1, 280px);
            .input,
            .area,
            .select {
                width: 300px !important;
            }
        }
        .illustration {
            img {
                display: none;
            }
        }
    }
}
@media (min-width: 300px) and (max-width: 750px) {
    .helppage {
        grid-template-columns: repeat(2, 400px);
        column-gap: 20px;
    }
}
