// NAVBAR

.nav {
    margin: 20px 0px;

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;
    }

    &__item+&__item {
        margin-left: 25px;
    }

    &__item:after {
        content: "";
        position: absolute;
        top: 20px;
        width: 0%;
        height: 2px;
        display: block;
        transition: all 0.8s ease;
    }

    &__item:hover::after {
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: #000;
    }
    &__more__items{
        color: #212121;
    }
}
#nav__more-menu .MuiMenuItem-root{
    padding: 0 !important;
}
#nav__more-menu ul hr:last-child{
    display: none;
}
.nav__more__items{
    padding: 4px 16px;
    display: inline-block;
    width: 100%;
}
.nav__more__items:first-child{
    margin-top: 0;
}
.nav__more__items:last-child{
    margin-bottom: 0;
}

.navbar-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0px;
    right: -100%;
    width: 50%;
    height: 100vh;
    overflow: auto;
    padding: 0 40px 20px 40px;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: -3px 15px 10px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.navbar-menu::-webkit-scrollbar { width: 0; }

.navbar-menu__list {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #cacaca;
}

.navbar-menu__item {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.navbar-menu__link {
    position: relative;
    padding-left: 13px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.nav-menu__clos-btn {
    font-size: 25px;
    font-weight: 300 !important;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;   
}

ion-icon {
    font-size: 30px;
}

.nav-menu__list {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #cacaca;
}

.nav-menu__item + .nav-menu__item{
    margin-top: 25px;
}

.nav-menu__link{
    font-style: 18px;
    font-weight: 500;
    color: #a1a1a1;
}

// Responsiv Navbar Tablet Version

@media only screen and (max-width: 985px) {
    .nav {
        display: none;
    }

    .header--open .navbar-menu {
        right: 0px;
        width: 100%;
    }

    .header--open .navbar-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        z-index: 100;
    }
}