@import "../../Assets/scss/colors.scss";
.wrapper {
    width: 835px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img{
        position: relative;
    }
    .badge {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 100px;
        border: 1px solid $darkBlue;
    }
    .InpG {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        button {
            margin-right: 20px;
            width: 87px;
            height: 30px;
            background: #ffffff;
            border: 1px solid #c4c4c4;
            border-radius: 5px;
        }
        button:last-child {
            margin: 0;
        }
    }
    .Inp {
        display: flex;
        flex-direction: column;
        label{
            margin: 10px 0;
        }
        input {
            padding: 10px;
            width: 410px;
            height: 50px;
            background: #ffffff;
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;
        }
    }
    .map{
        display: flex;
        flex-direction: column;
        label{
            margin: 10px 0;
        }
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            cursor: pointer;
            margin: 20px auto;
            width: 230px;
            height: 35px;
            background-color: $darkBlue;
            border: none;
            border-radius: 5px;
            color: $white;
        }
    }
}
