.HouseDescr {
    display: flex;
    width: 515px !important;
    height: 235px !important;
    font-family: "Roboto";
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #6d7580;
    padding: 10px 10px;
}
@media only screen and (max-width:319px) {
    .HouseDescr{
        width: 300px !important;
        height: 150px !important;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: normal;
    }
}
