@import "../../Assets/scss/colors.scss";
.HouseDescr {
    width: 515px !important;
    height: 235px !important;
    font-family: "Roboto";
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #6d7580;
    padding: 10px 10px;
    border: 1px solid $shadow;
}
@media (max-width: "560px") {
    .HouseDescr {
        max-width: 300px !important;
        max-height: 200px !important;
    }
}
